.living-room .item {
  background-color: rgba(0,0,0,0);
  border-left: 0px;
  border-right: 0px;
}


.messageContent {
  background-color: white;
  height: 100%;
    & p.message {
      position: absolute;
      top: 8px;
    }

    & p.date {
      position: absolute;
      bottom: 8px;
    }
}

.chatSend {
  background-color: black;
  color: white;
  width: 33%;
  height: 100%;
  position: absolute;
  right: 0;
  margin-top: -5px;
}
