
/*sign in page*/

.select-chores, .sign-in {
  min-height: 100vh;
}
.sign-in input {
  margin: 10px;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  text-align: left;
  background-color: rgba(0,0,0,0);
  font-size: 2em;
  line-height: 1em;
}

.sign-in button, .select-chores button {
  position: absolute;
  width: 100%;
  left:0;
  bottom:0;
  height: 50px;
  border-radius: 0;
  background-color: black;
  color: white;
  font-size: 2em;
  line-height: 1em;
}

.select-chores .item {
  background-color: rgba(0,0,0,0);
  padding: 0px;
}


.select-chores .chore {
  font-size: 1.2em;
}

.select-chores button.selchorbutton {
   position: absolute;
   width: 100%;
   left:0;
   bottom:0;
   height: 50px;
   border-radius: 0;
   background-color: black;
   color: white;
   font-size: 2em;
   line-height: 1em;
 }

