/* Empty. Add your own CSS if you like */
/* This parent can be any width and height */
.centering-block {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
  height: 700px;
}
 
/* The ghost, nudged to maintain perfect centering */
.centering-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;

}
.sign-up-btn{
	background-color: gray;
	border-radius: 8%;
	color: white;
	border: none;
	text-transform: uppercase;
}
.app-bkgd{
	background-color: #E2E2E2;
}

/*sign in page*/
.sign-in input[type='email'], .sign-in input[type='password']{
	margin: 10px;
	padding-left: 5px;
}
/*leaderboard*/
.leader {
	text-align: left;
	margin-top: 35px;
	
}
.item .points p{
	font-size: 2.5em;
	overflow: visible;
}
.item .points p:nth-child(2){
	font-size: .75em;
}
.points{
	padding-top: 30px;
}


/*your chore*/
.chore-box {
	border: 1px black solid;
	
}
.chore-box h4 {
	width: 100%;
	border-bottom: 1px black solid;
}
.chore-box p {
padding: 5px;
}
/*header*/

/*.nav-bar-block .bar.bar-stable .title, .menu-left .bar.bar-header {
	color: white;
	font-size: 2em;
	padding-top: 7px;
}*/
/*
.nav-bar-block .bar.bar-stable{
	background-color: #2A2A2A;
}
.menu-left .bar.bar-header .title {
	color: white;
}
.nav-bar-block .bar-stable .button.button-clear {
	color: white;
}*/
