<ion-view  ng-controller="leaderboardCtrl"  view-title="chored" class="leaderboard">
	<ion-content>
		<h3 class="mt20">Leaderboard this Week</h3>
		<div class="row">
			<ul>
				<li ng-repeat="leader in leaders | orderBy: '-points'" class='box c50' ng-class="{'mt10':$index>1}">
					 	<div class="box-header">
					 		<h3>{{leader.title}}</h3>
					 	</div>
					 	<img src="img/profile-{{$index+1}}.jpg" class="box-img">
					 	
					 	<div class="points"> 
					 		{{leader.points}}
					 		<p>points</p>
					 	</div>
				</li>
			</ul>
		</div>
	</ion-content>

</ion-view>