<ion-view  ng-controller="signInCtrl" hide-nav-bar="true" cache-view="false" view-title="">
<ion-content>
<form class="sign-in" method="post" action="javascript:void(0)" id="register" ng-submit="signIn()" class="padding" novalidate>
	
			<img src="img/main-logo-big.png" class="logo img-responsive">
			<input type="text" name="name" placeholder="Your name" ng-model="login.name" required>
			<input type="email" name="email" placeholder="Your email" ng-model="login.email" required>
			<input type='tel' name='phone' placeholder='Phone number' ng-model='login.phone' required>
			<input type="password" name="password" placeholder="Password" ng-model="login.password" required>
			<input type="text" name="email" placeholder="Address" ng-model="login.address" required>
			<span class="error" ng-show="err">{{err}}</span>
			<button type="submit" value="Next" class="sign-up-btn">Finished</button>

</form>
</ion-content>
</ion-view>
