<ion-view view-title="roomiezen">
	<ion-content>
		<ion-slide-box show-pager="false" delegate-handle="wheel-assignments" active-slide="slideNum">
        	<ion-slide>
				<div class="row">
					<div class="wheel">
					  <ul class="umbrella">
					    <li class="color" ng-class="{'assigned': chore.status=='assigned'}" ng-repeat="chore in chores track by chore.id"></li>
					  </ul>
					  <div class="wheel-spinner" ng-click="spin()"><p>SPIN</p><div class="spin-center"></div></div>
					</div>
				</div>
				<div class="row">
					<ul class="col col-50">
						<li ng-repeat="chore in chores.slice(0,Math.floor(chores.length/2)) track by chore.id">{{chore.name}}</li>
					</ul>
					<ul class="col col-50">
						<li ng-repeat="chore in chores.slice(Math.floor(chores.length/2)) track by chore.id">{{chore.name}}</li>
					</ul>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="padding col-center">
					<h3 class="text-center padding-top padding-bottom">Chore Assigned To You</h3>
					<div class="chore-box box padding-top">
						<div class="box-header text-center">
							<h4 class="text-center">Due Date: {{selectedChore.dueDate}}</h4>
						</div>
						<div class="box-body padding-bottom">
							<h2 class="text-center">{{selectedChore.name}}</h2>
							<p>{{selectedChore.description}}</p>
							<a class="button col-offset-33" ng-click="completeChore()">COMPLETE</a>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>